:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
    --text-color: white;
    --text-color-deemphasized: #8c8c8c;
    --text-size: 18px;

    background: #01292b;
    max-width: 800px;
    margin: 0 auto;
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif; /* same as mmolb.com */
    font-size: var(--text-size);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


:link {
    color: var(--text-color);
    font-weight: bold;
}

:visited {
    color: var(--text-color-deemphasized);
}