.page {
}

.title {
    text-align: center;
    margin: 20px;
}

.card {
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 14px;
    margin: 20px auto;
    overflow: hidden; /* To properly cut off border-radius corners */
}

.card.seamless {
    padding: 0;
}

.card.seamless-h {
    padding-left: 0;
    padding-right: 0;
}

.seamless-subhead {
    padding: 20px 20px 0 20px;
}

.card > :first-child {
    margin-top: 0;
}

.card > :last-child {
    margin-bottom: 0;
}

.card p {
    margin: 1em 0;
}
